# Python Pandas - Series

In [2]:
#Create an Empty Series

#import the pandas library and aliasing as pd
import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: float64)

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """

In [45]:
#Create a Series from ndarray
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object 0    1
1    2
2    3
3    4
dtype: int64

In [5]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])#Give explicit index
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [6]:
#Create a Series from dict
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [7]:
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data,index=['b','c','d','a'])#CAn metion the index order
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [8]:
#Create a Series from Scalar
s = pd.Series(5, index=[0, 1, 2, 3])
print (s)

0    5
1    5
2    5
3    5
dtype: int64

In [9]:
#Accessing Data from Series with Position
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve the first element
print (s[0])

1

In [10]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve the first three element
print (s[:3])

a    1
b    2
c    3
dtype: int64

In [11]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve the last three element
print (s[-3:])

c    3
d    4
e    5
dtype: int64

In [12]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve a single element using index
print (s['a'])

1

In [13]:
#Retrieve multiple elements using a list of index label values.

s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve multiple elements
print (s[['a','c','d']])

a    1
c    3
d    4
dtype: int64

In [3]:
#If a label is not contained, an exception is raised.


s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve multiple elements
print (s['f'])

KeyError: 'f'

# Python Pandas - DataFrame

In [16]:
#Create an Empty DataFrame
import pandas as pd
df = pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

In [17]:
#Create a DataFrame from Lists

data = [1,2,3,4,5]
df = pd.DataFrame(data)
print (df)

   0
0  1
1  2
2  3
3  4
4  5

In [59]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
data1 = [['Alex',10,'F'],['Bob',12,'M'],['Clarke',13,'M']]#Each list represents complete different row
                                                          
df1 = pd.DataFrame(data1,columns=['Name','Age','Sex'])# So the no of items in each list should equal to no of columns

print (df1)

print()

df = pd.DataFrame(data,columns=['Name','Age'])# So the no of items in each list should equal to no of columns

print (df)

     Name  Age Sex
0    Alex   10   F
1     Bob   12   M
2  Clarke   13   M

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [19]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)#changing age to float#
print (df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [61]:
#Very interesting
#Create a DataFrame from Dict of ndarrays / Lists

data = {'Name':['T', 'J', 'S', 'R'],'Age':[28,34,29,42]}#set of values in each dict represents separate column.so all 
                                                        #values should have same length
df = pd.DataFrame(data)
print (df)

  Name  Age
0    T   28
1    J   34
2    S   29
3    R   42

In [22]:
#create an indexed DataFrame using arrays
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])#by default it will take from zero
print (df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [23]:
#Create a DataFrame from List of Dicts

data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print (df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [24]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print (df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [26]:
#to create a DataFrame with a list of dictionaries, row indices, and column indices.

data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print (df1)
print (df2)

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

In [28]:
#Create a DataFrame from Dict of Series

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [29]:
# Column Selection

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df ['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [31]:
#Column Addition

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

# Adding a new column to an existing DataFrame object with column label by passing new series

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print (df)

print ("\nAdding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']

print (df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [34]:
#Column Deletion

# Using the previous DataFrame, we will delete a column
# using del function
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
   'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)

# using del function
print ("Deleting the first column using DEL function:")

del df['one']

print (df)


# using pop function
print ("Deleting another column using POP function:")

df.pop('two')

print (df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [36]:
#Row Selection, Addition, and Deletion

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)
print()
print (df.loc['b'])#Rows can be selected by passing row label to a loc function

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

one    2.0
two    2.0
Name: b, dtype: float64

In [40]:
#Selection by integer location

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}



df = pd.DataFrame(d)
print(df)
print()
print (df.iloc[2])#Rows can be selected by passing integer location to an iloc function.

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

one    3.0
two    3.0
Name: c, dtype: float64

In [42]:
#Slice Rows
#Multiple rows can be selected using ‘ : ’ operator

import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)
print()
print (df[2:4])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

   one  two
c  3.0    3
d  NaN    4

In [43]:
"""Addition of Rows
Add new rows to a DataFrame using the append function. This function will append the rows at the end."""

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print (df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [44]:
"""Deletion of Rows
Use index label to delete or drop rows from a DataFrame. If label is duplicated, then multiple rows will be dropped.

If you observe, in the above example,the labels are duplicate.Let us drop a label and will see how many rows will get dropped"""

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)

# Drop rows with label 0
df = df.drop(0)

print (df)

   a  b
1  3  4
1  7  8

# Series Basic Functionality

In [64]:
#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4)) #np.random.randn- normal distribution, np.rndom.rand-uniform distribution
print (s)

0    0.666105
1    0.659327
2    0.027846
3    0.305860
dtype: float64

In [73]:
#axes
#Returns the list of the labels of the series.

import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print ("The axes are:")
print(s)
print()
print (s.axes)

The axes are:
0    0.195389
1   -0.572018
2    0.972527
3    0.161960
dtype: float64

[RangeIndex(start=0, stop=4, step=1)]

In [74]:
#empty
#Returns the Boolean value saying whether the Object is empty or not. True indicates that the object is empty.

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print ("Is the Object empty?")
print (s.empty)

Is the Object empty?
False

In [75]:
#ndim
#Returns the number of dimensions of the object. By definition, a Series is a 1D data structure, so it returns

import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print (s)

print ("The dimensions of the object:")
print (s.ndim)

0    0.256444
1   -0.005192
2    1.566406
3    0.407538
dtype: float64
The dimensions of the object:
1

In [77]:
#size
#Returns the size(length) of the series.

import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(2))
print (s)
print ("The size of the object:")
print (s.size)

0    1.417510
1    1.028577
dtype: float64
The size of the object:
2

In [78]:
#values
#Returns the actual data in the series as an array.

import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print (s)

print ("The actual data series is:")
print (s.values)

0    0.111012
1   -0.387058
2    0.267842
3    0.194031
dtype: float64
The actual data series is:
[ 0.11101228 -0.38705776  0.26784195  0.19403108]

In [79]:
#head() returns the first n rows(observe the index values). 
#The default number of elements to display is five, but you may pass a custom number.

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print ("The original series is:")
print (s)

print ("The first two rows of the data series:")
print (s.head(2))

The original series is:
0    1.135176
1   -0.298536
2   -1.077439
3    0.305755
dtype: float64
The first two rows of the data series:
0    1.135176
1   -0.298536
dtype: float64

In [80]:
#tail() returns the last n rows(observe the index values). 
#The default number of elements to display is five, but you may pass a custom number.

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print ("The original series is:")
print (s)

print ("The last two rows of the data series:")
print (s.tail(2))

The original series is:
0   -0.030593
1    0.531650
2    0.853292
3   -1.175357
dtype: float64
The last two rows of the data series:
2    0.853292
3   -1.175357
dtype: float64

# DataFrame Basic Functionality

In [82]:
#create a DataFrame 

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data series is:")
print (df)

Our data series is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [83]:
#T (Transpose)
#Returns the transpose of the DataFrame. The rows and columns will interchange.

# Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

# Create a DataFrame
df = pd.DataFrame(d)
print ("The transpose of the data series is:")
print (df.T)

The transpose of the data series is:
           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [85]:
#axes
#Returns the list of row axis labels and column axis labels.

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Row axis labels and column axis labels are:")
print(df)
print()

print (df.axes)

Row axis labels and column axis labels are:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [87]:
#dtypes
#Returns the data type of each column.

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print(df)
print()
print ("The data types of each column are:")
print (df.dtypes)

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

The data types of each column are:
Name       object
Age         int64
Rating    float64
dtype: object

In [88]:
#empty - Returns the Boolean value saying whether the Object is empty or not; True indicates that the object is empty.

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Is the object empty?")
print (df.empty)

Is the object empty?
False

In [89]:
#ndim - Returns the number of dimensions of the object. By definition, DataFrame is a 2D object.

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The dimension of the object is:")
print (df.ndim)

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The dimension of the object is:
2

In [90]:
"""shape - Returns a tuple representing the dimensionality of the DataFrame. Tuple (a,b), 
where a represents the number of rows and b represents the number of columns."""

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The shape of the object is:")
print (df.shape)

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The shape of the object is:
(7, 3)

In [91]:
#size - Returns the number of elements in the DataFrame.

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The total number of elements in our object is:")
print (df.size)

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The total number of elements in our object is:
21

In [92]:
#values - Returns the actual data in the DataFrame as an NDarray.

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The actual data in our data frame is:")
print (df.values)

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The actual data in our data frame is:
[['Tom' 25 4.23]
 ['James' 26 3.24]
 ['Ricky' 25 3.98]
 ['Vin' 23 2.56]
 ['Steve' 30 3.2]
 ['Smith' 29 4.6]
 ['Jack' 23 3.8]]

# Python Pandas - Descriptive Statistics

In [93]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df)

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

In [101]:
#sum() - Returns the sum of the values for the requested axis. By default, axis is index (axis=0).

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print(df)
print()
print (df.sum()) #Each individual column is added individually (Strings are appended). (or) df.sum(0)

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object

In [99]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
 
#Create a DataFrame
df = pd.DataFrame(d) 
print(df)
print()
print (df.sum(1)) # Column wise addition only numbers

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [102]:
#mean()
#Returns the average value

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.mean())

Age       31.833333
Rating     3.743333
dtype: float64

In [103]:
#std()
#Returns the Bressel standard deviation of the numerical columns.

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.std())

Age       9.232682
Rating    0.661628
dtype: float64

In [106]:
#Summarizing Data - The describe() function computes a summary of statistics pertaining to the DataFrame columns.


#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.describe())

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

# Python Pandas - Function Application
Table wise Function Application: pipe()
Row or Column Wise Function Application: apply()
Element wise Function Application: applymap()

In [18]:
#1. Table-wise Function Application

import pandas as pd
import numpy as np

def adder(ele1,ele2):
    return ele1+ele2 #ele1 is complete datafarme. ele2 is 2. It adds 2 to all elements

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print()
print(df.pipe(adder,2))

       col1      col2      col3
0 -0.173187 -1.079101 -0.705978
1  0.741444 -1.420365 -0.906930
2 -0.468553  0.933950  1.401950
3  1.572525 -0.258845  0.352843
4 -0.037929 -0.589712  0.094922

       col1      col2      col3
0  1.826813  0.920899  1.294022
1  2.741444  0.579635  1.093070
2  1.531447  2.933950  3.401950
3  3.572525  1.741155  2.352843
4  1.962071  1.410288  2.094922

In [31]:
#2.Row or Column Wise Function Application

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print()

print (df.apply(np.mean)) #Column wise

print()

print(df.apply(np.mean,axis=1)) #Row wise
 
print()

print(df.apply(np.mean,axis=0)) # Column wise

       col1      col2      col3
0 -0.718116  1.127922 -0.983326
1  1.683084  0.607619 -0.419778
2  0.257117 -1.201983 -0.481246
3  1.334757 -0.873097 -0.652577
4 -0.217193 -1.195177  1.316863

col1    0.467930
col2   -0.306943
col3   -0.244013
dtype: float64

0   -0.191173
1    0.623642
2   -0.475371
3   -0.063639
4   -0.031836
dtype: float64

col1    0.467930
col2   -0.306943
col3   -0.244013
dtype: float64

In [39]:
#Element Wise Function Application

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print()
print (df.apply(np.mean))
# My custom function

df['col1'].map(lambda x:x*100)
print(df)
print()
print (df.apply(np.mean))

       col1      col2      col3
0 -0.217260  0.098673 -0.109300
1 -0.549591 -1.012618 -0.504332
2 -0.479329 -1.299136  0.959374
3  0.010762  0.363363 -0.872514
4 -1.803991  0.931336  0.355593

col1   -0.607882
col2   -0.183676
col3   -0.034236
dtype: float64
       col1      col2      col3
0 -0.217260  0.098673 -0.109300
1 -0.549591 -1.012618 -0.504332
2 -0.479329 -1.299136  0.959374
3  0.010762  0.363363 -0.872514
4 -1.803991  0.931336  0.355593

col1   -0.607882
col2   -0.183676
col3   -0.034236
dtype: float64

In [55]:
from functools import reduce

numbers = [3, 4, 6, 9, 34, 12]

def custom_sum(first, second):
    return first + second

result = reduce(custom_sum, numbers) #reduce returns single value. it do cumulatively the task mentioned in function
                                     # (((((3+4)+6)+9)+34)+12)
print(result)


numbers = [3, 4, 6, 9, 34, 12]

result = reduce(lambda x,y:x+y, numbers,10) #can mention the initial value. so 10 + (((((3+4)+6)+9)+34)+12)
print(result)

68
78